<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Rails 状態遷移テーブル サンプル" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app %>
  </head>
  <body>
    <header class="site-header">
      <%= link_to "Rails 状態遷移テーブル サンプル", root_path %>
    </header>
    <main>
      <% if notice %><p class="flash notice"><%= notice %></p><% end %>
      <% if alert %><p class="flash alert"><%= alert %></p><% end %>
      <%= yield %>
    </main>
  </body>
</html>
